{% extends 'news/base.html' %}
{% load staticfiles %}

{% block content %}


          <div class="row">
              <div class="col-md-8">
                <div blog-post>
                {% for entry in users %}
                {% if entry.practiceArea == "Trusts and Estates"  %}
                    <a href="/trusts_and_estates"><h5 class="area-trusts">{{entry.practiceArea}}</h5></a>
                {% elif entry.practiceArea == "Criminal Law" %}
                    <a href="/criminal"><h5 class="area-criminal">{{entry.practiceArea}}</h5></a>
                {% elif entry.practiceArea == "Real Estate Law" %}
                    <a href="/real_estate"><h5 class="area-real-estate">{{entry.practiceArea}}</h5></a>
                {% elif entry.practiceArea == "Tax Law" %}
                    <a href="/tax"><h5 class="area-tax">{{entry.practiceArea}}</h5></a>
                {% elif entry.practiceArea == "Personal Injury Law" %}
                    <a href="/injury"><h5 class="area-injury">{{entry.practiceArea}}</h5></a>
                {% elif entry.practiceArea == "Business Law" %}
                    <a href="/business_law"><h5 class="area-business">{{entry.practiceArea}}</h5></a>
                {% elif entry.practiceArea == "Family Law" %}
                    <a href="/family_law"><h5 class="area-family">{{entry.practiceArea}}</h5></a>
                {% elif entry.practiceArea == "Labor and Employment" %}
                    <a href="/labor_law"><h5 class="area-labor">{{entry.practiceArea}}</h5></a>
                {% elif entry.practiceArea == "Health Care Law" %}
                    <a href="/health_law"><h5 class="area-health">{{entry.practiceArea}}</h5></a>                {% endif %}

                <h5 class="blog-post-title"><a href="{{entry.url}}" target+"_blank">{{entry.title}}</a></h5>
                <p><h6 class="blog-post-meta">{{entry.publication_date}}</p>
                <p><a href="/authors/{{ entry.authorSlug }}">{{entry.author | safe}}</a> | <a href="http://{{entry.domain}}" target+"_blank">{{entry.domain}}</a></h6>
                <p>{{entry.description | safe |truncatewords_html:"100"}}</p>
                <!-- <p><a href="{{entry.url}}" target+"_blank" class="btn btn-info btn-xs">Read More</a></p> -->
                <hr>
                {% endfor %}
              </div>

              <!--  pagination begins-->
              <div class="pagination">
                <div class="pages">
              {% if users.has_other_pages %}

                  {% if users.has_previous %}
                    <a href="?page={{ users.previous_page_number }}"><<<</a>
                  {% endif %}

                      {% for i in page_range %}
                           {% if users.number == i %}
                               <a href="?page={{ i }}" class="btn btn-default">{{ i }}</a>
                           {% else %}
                               <a href="?page={{ i }}" class="btn">{{ i }}</a>
                           {% endif %}
                       {% endfor %}
                    {% if users.has_next %}
                    <a href="?page={{ users.next_page_number }}">>>></a>
                    {% endif %}
                  {% endif %}
                </div>
            </div>
            <span class="clear_both"></span>
                </div><!-- /.blog-main -->



  {% endblock %}
